@charset "UTF-8";

/* CSS Document */
div {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
	margin: 0;
	padding: 0;
}

/* navbar */
.active-page {
	text-shadow: 2px 2px 4px #00000070;
}

.whole-nav {
	position: absolute;
	z-index:9999;
}
.bg-blue {
	background-color: #02AEEF;
}

.nav-link-color, li, ul {
	font-family: 'Baloo', cursive;
	color: white!important;
}

.nav-link-color:hover {
	color: #111e6c!important;
}

.carrie-teoh {
	font-size: 2.20em;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

.index-home {
	padding-top: 1em;
	padding-right: 1em;
	padding-left: 1em;
}
.all-index {
	vertical-align: center;
	text-align: center;
	margin-bottom: 5px;
}

.wave img{
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	position: relative;
}

.green {
	background-color: #00a77c;
	height: 5em;
	margin-bottom: 7em;
}
/* parallax */
body {
	background: white;
	margin: 0; }
  
  img {
	height: auto;
	width: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
   }
  
  .img-grass {
	z-index: 1;
  }
  
  .img-water1 {
	z-index: 3;
  }
  
  .img-wheel {
	z-index: 4;
  }
  
  .img-girl {
	z-index: 4;
  }
  
  .img-girl-cloth {
	z-index: 5;
  }
  
  .img-girl-shadow {
	z-index: 3;
  }
  
  .img-wheel-eye {
	z-index: 3;
  }
  
  .img-font {
	z-index: 2;
  }
	
  .container-parallax {
	top: 50px;
	position: relative;
	z-index: 2;
 }
  
  .scene > *:nth-child(1) {
	opacity: 1.0; }
	.scene > *:nth-child(1) button {
	  -webkit-transform: rotate(150deg);
		  -ms-transform: rotate(150deg);
			  transform: rotate(150deg); }
  
  .scene > *:nth-child(2) {
	opacity: 1.0; }
	.scene > *:nth-child(2) button {
	  -webkit-transform: rotate(120deg);
		  -ms-transform: rotate(120deg);
			  transform: rotate(120deg); }
  
  .scene > *:nth-child(3) {
	opacity: 1.0; }
	.scene > *:nth-child(3) button {
	  -webkit-transform: rotate(90deg);
		  -ms-transform: rotate(90deg);
			  transform: rotate(90deg); }
  
  .scene > *:nth-child(4) {
	opacity: 1.0; }
	.scene > *:nth-child(4) button {
	  -webkit-transform: rotate(60deg);
		  -ms-transform: rotate(60deg);
			  transform: rotate(60deg); }
  
  .scene > *:nth-child(5) {
	opacity: 1.0; }
	.scene > *:nth-child(5) button {
	  -webkit-transform: rotate(30deg);
		  -ms-transform: rotate(30deg);
			  transform: rotate(30deg); }
  
  .scene > *:nth-child(6) {
	opacity: 1.0; }
	.scene > *:nth-child(6) button {
	  -webkit-transform: rotate(0deg);
		  -ms-transform: rotate(0deg);
			  transform: rotate(0deg); }
  


/*carousel slides*/
.slides-box {
	width: 900px;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	float: left;
}
#carouselExampleIndicators {
	display: inline;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	margin-left: 60px;
	margin-right: 60px;
	float: left;
}

.carousel-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}
/* Hi im carrie */
.vertical-align {
	vertical-align: middle;
}
.hi-im-carrie {
	margin-top: 120px;
	margin-left: 60px;
	margin-right: 60px;
}

.hi-im-carrie h1 {
	font-family: 'Baloo', cursive;
	color: #111e6c;
}

.hi-im-carrie p {
	font-family: 'Open Sans', sans-serif;
	margin-top: 20px;
}

/* button */

.button-blue {
	background-color: #02AEEF;
	border-color: #02AEEF;
	font-family: 'Baloo', cursive;
	font-size: 0.8em;
	margin-top: 20px;
	margin-right:10px;
	border-radius: 10px;
}

.button-blue:hover {
	background-color: #111e6c;
	border-color: #111e6c;
	font-family: 'Baloo', cursive;
}

.cariusel-and-hiimcarrie {
	margin-bottom: 200px;
}

/* footer */
.footer-waves img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.footer {
	background-color: #02AEEF;
	color: #FFF;
	font-family: 'Baloo', cursive;
	text-align: center;
	padding: 40px;
}

.footer a {
	color: white;
	font-size: 1.8em;
	display: inline;
	margin: 5px;
}

.footer a:hover {
	text-decoration: none;
	color: #111e6c;
}

.copyright {
	font-size: 0.6em;
}